div.page {
    min-height: 90vh !important;
    div {
      div {
        div {
          span.prev_page {
            cursor: pointer;
            svg {
              &:hover {
                color: #103464 !important;
              }
            }
          }
        }
      }
    }
  }
  
  div.desk_result {
    min-height: 15rem !important;
    background-image: url("https://supersport.azureedge.net/web-assets/football/match-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-origin: border-box;
    div.row:nth-of-type(1) {
      div {
        p {
          font-size: 1.31255rem;
          font-weight: 300;
          letter-spacing: 1.2px;
          color: #fff;
          text-transform: uppercase;
        }
      }
    }
    div.row:nth-of-type(2) {
      min-height: 11rem;
      div:nth-of-type(1) {
        p {
          font-size: 1.125rem;
          font-weight: 400;
          color: #fff;
        }
      }
      div:nth-of-type(2) {
        p {
          font-size: 2rem;
          font-weight: 400;
          color: #fff;
          letter-spacing: 0.2rem;
        }
      }
      div:nth-of-type(3) {
        p {
          font-size: 1.125rem;
          font-weight: 400;
          color: #fff;
        }
      }
      div:nth-of-type(4) {
        p:nth-of-type(1) {
          font-size: 1.25rem;
          color: #fff;
          font-weight: 300;
        }
        p:nth-of-type(2) {
          font-size: 1.0625rem;
          font-weight: 300;
          color: #fff;
        }
      }
    }
  }
  
  
