.calendar_item {
  position: absolute;
  top: 3rem;
  right: -2.7rem;
  z-index: 5;
  border: 1px solid rgb(194, 192, 192);
  background: #fbfcfe;
  max-width: 19.5rem;

  table {
    width: 100%;
    letter-spacing: 0.012em;
    font-size: 1rem;
    color: #636b6f;
    caption {
      padding: 0.5rem 0.5rem 0rem 0.5rem;
      text-align: center;
      caption-side: top;
    }
    thead {
      text-align: center;
      tr {
        th {
          font-size: 75%;
          padding: 0 5px;
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
    tbody {
      tr {
        td {
          width: 40px;
          height: 40px;
          line-height: 40px;
          text-align: center;
          vertical-align: middle;
          border: 1px solid transparent;
          cursor: pointer;
          &:hover {
            background: #033660;
            a {
              color: white;
            }
          }
          a {
            display: inline-block;
            width: 40px;
            padding: 0 5px;
            text-decoration: none;
            color: #636b6f;
          }
        }
        .today {
          color: #fff;
          background: #033660;
        }
      }
    }
  }
}
