.calendar_item {
  position: absolute;
  top: 3rem;
  right: -3.2rem;
  z-index: 5;
  border: 1px solid rgb(194, 192, 192);
  background: #fbfcfe;
  width: 20rem;
  box-shadow: 6px 6px 13px 0px #888888;

  table {
    width: 100%;
    letter-spacing: 0.012em;
    color: #636b6f;
    caption {
      font-weight: 700;
      font-size: 1rem;
      padding: 0.5rem;
      text-align: center;
      caption-side: top;
    }
    thead {
      text-align: center;
      tr {
        th {
          font-weight: 600;
          padding: 0 5px;
          width: 2rem;
          height: 2rem;
          line-height: 40px;
          text-align: center;
          vertical-align: middle;
        }
      }
    }
    tbody {
      tr {
        td {
          line-height: 2rem;
          text-align: center;
          vertical-align: middle;
          border: 1px solid transparent;
          cursor: pointer;
          &:hover {
            background: #033660;
            a {
              color: white;
            }
          }
          a {
            display: inline-block;
            width: 2.3rem;
            text-decoration: none;
            color: #636b6f;
          }
        }
        .today {
          color: #fff;
          background: #033660;
        }
      }
    }
  }
}
