.preloader {
  .preloader_area {
    height: 100vh;
    .preloader_lawn {
      display: flex;
      align-items: center;
      .preloader_ball {
        height: 6rem;
        width: 6rem;
        margin: 0 auto;
        -webkit-animation: jump_up ease infinite 1s;
                animation: jump_up ease infinite 1s;
        padding: 0.1rem;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@-webkit-keyframes jump_up {
  0% {
    transform: translateY(0%);
  }
  
  50% {
    transform: translateY(30%);
    border-bottom: 1px solid grey;
    
  }
  
  100% {
    border-bottom: 1px solid transparent;
    transform: translateY(0%);
  }
}

@keyframes jump_up {
  0% {
    transform: translateY(0%);
  }
  
  50% {
    transform: translateY(30%);
    border-bottom: 1px solid grey;
    
  }
  
  100% {
    border-bottom: 1px solid transparent;
    transform: translateY(0%);
  }
}
