header {
  background-color: #ffffff;
  div.row {
    min-height: 6rem;
    div {
      &:hover {
        background-color: rgb(231, 232, 234);
        figure > img {
          transform: scale(1.3);
        }
      }
      a {
        text-decoration: none;
        color: rgb(8, 8, 8);
      }
    }
  }
}

figure {
  img {
    width: 3rem;
    height: 3rem;
  }
}

/* submenu */
.submenu {
  min-height: 2rem;
  background-color: rgb(243, 243, 246);
}
