footer.footer_bg {
  background-color: rgb(16, 52, 100);
  height: 75vh;
  position: relative;
  div {
    .footer_pages {
      svg {
        color: #ffffff !important;
        font-size: 1.5rem;
      }
      h6 {
        color: white;
      }
      p {
        color: white;
      }
    }
    .copyright {
      position: absolute;
      bottom: 0;
      left: 0rem;
      width: 100%;
      div {
        background-color: rgb(16, 52, 100);
        img {
          display: block;
          margin: 0 auto;
        }
        p {
          color: white;
        }
      }
    }
  }
}

.show {
  transition: height 1s linear;
  height: 2rem;
  p {
    display: none;
  }
}
